.div-content-title {
    text-align: center;
    color: white;
    background-color: darkgray;
}

.search-text-box-container {
    margin: 10px 10px 20px 20px;
}

.search-text-box {
    height: 50px;
    border-radius: 18px;
}

.search-result-container {
    margin-left: 20px;
    padding: 10px;
}

.search-result-list-item {
    display: inline-block;
    background-color: rgba(186, 224, 246, 0.27);
    padding: 10px;
    border: 1px solid rgba(66, 157, 209, 0.24);
    width: 100%;
    margin-bottom: 5px;
}

.search-previous-saved {
    width: 100%;
    /* display: inline-block; */
    /* padding: 10px; */
    margin-top: 1px;
    background-color: rgb(235, 246, 252);
    border: 1px solid rgb(193, 224, 240);
}

@media (min-width: 768px) {
    .right-side-bar {
        width: 100%;
        height: 700px;
        padding-top: 110px;
        padding-left: 10px;
        padding-right: 10px;
        /*overflow-x: auto;*/
        /*overflow-y: auto;*/
        background-color: rgb(235, 246, 252);
        border-left: 1px solid rgb(193, 224, 240);
    }
}

.filter-item-container {
    margin: 10px;
}

.filter-item {
    width: 100%;
    height: 30px;
    border-radius: 11px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Bank info css rules*/

.bank-ifsc-code {
    font-size: larger;
    color: cadetblue;
}

.bank-logo-container {
    display: inline-block;
    float: left;
    margin: 10px;
    background-color: black;
    width: 50px;
    height: 50px;
}

.bank-address {
    font-size: smaller;
}

.bank-exchange-rate {
    font-size: 10px;
    color: firebrick;
}