<div class="row">
    <div class="col-sm-3 col-md-2" ng-include src="'views/sidebar.html'"></div>
    <div class="col-sm-8 col-md-7">
        <div class="search-text-box-container">
            <input class="form-control search-text-box" type="text" placeholder="search by bank, city, state" />
        </div>

        <div class="search-result-container">
            <ul class="list-unstyled">
                <li class="search-result-list-item">
                    <div class="bank-detail-container">
                        <div class="bank-logo-container">
                            <img src="images/icici_bank_logo_3895.gif" width="50px" height="50px"/>
                        </div>
                        <div class="bank-ifsc-code">IFSC Code : ICIC23534534
                            <div class="bank-exchange-rate pull-right">$1 = Rs. 63.3</div>
                        </div>
                        <div class="bank-name">ICICI BANK LTD</div>
                        <div class="bank-address">
                            ICICI BANK LTD., 2/62,1 TO 4 , SADAR BAZAR, DELHI CANTONMENT, NEW DELHI 110010, DELHI
                        </div>
                    </div>
                </li>

                <li class="search-result-list-item">
                    <div class="bank-detail-container">
                        <div class="bank-logo-container">
                            <img src="images/icici_bank_logo_3895.gif" width="50px" height="50px"/>
                        </div>
                        <div class="bank-ifsc-code">IFSC Code : ICIC23534534
                            <div class="bank-exchange-rate pull-right">$1 = Rs. 63.3</div>
                        </div>
                        <div class="bank-name">ICICI BANK LTD</div>
                        <div class="bank-address">
                            ICICI BANK LTD., 2/62,1 TO 4 , SADAR BAZAR, DELHI CANTONMENT, NEW DELHI 110010, DELHI
                        </div>
                    </div>
                </li>
                <li class="search-result-list-item">
                    <div class="bank-detail-container">
                        <div class="bank-logo-container">
                            <img src="images/icici_bank_logo_3895.gif" width="50px" height="50px"/>
                        </div>
                        <div class="bank-ifsc-code">IFSC Code : ICIC23534534
                            <div class="bank-exchange-rate pull-right">$1 = Rs. 63.3</div>
                        </div>
                        <div class="bank-name">ICICI BANK LTD</div>
                        <div class="bank-address">
                            ICICI BANK LTD., 2/62,1 TO 4 , SADAR BAZAR, DELHI CANTONMENT, NEW DELHI 110010, DELHI
                        </div>
                    </div>
                </li>
                <li class="search-result-list-item">
                    <div class="bank-detail-container">
                        <div class="bank-logo-container">
                            <img src="images/icici_bank_logo_3895.gif" width="50px" height="50px"/>
                        </div>
                        <div class="bank-ifsc-code">IFSC Code : ICIC23534534
                            <div class="bank-exchange-rate pull-right">$1 = Rs. 63.3</div>
                        </div>
                        <div class="bank-name">ICICI BANK LTD</div>
                        <div class="bank-address">
                            ICICI BANK LTD., 2/62,1 TO 4 , SADAR BAZAR, DELHI CANTONMENT, NEW DELHI 110010, DELHI
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>